<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<body>
  <title>{% block title %}
{% if this.locale == 'pt_BR' %} 
  Welcome
{% else %}
  Bem-Vindo 
{% endif %}
{% endblock %} — My Blog</title>
  <header>
    <h1>My Blog</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
				      %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% if this.alt == 'pt_BR' %}
          {% for href, title in [
            ['/blog', 'Blog'],
	    ['/projects', 'Projetos'],
            ['/about', 'Sobre']
          ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
					     %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
	{% else %}
         {% for href, title in [
            ['/blog', 'Blog'],
	    ['/projects', 'Projects'],
            ['/about', 'About']
          ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
					     %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
	{% endif %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2021 by Ricardo Brandao.
    {% set a = '' %}

    <a href="{{ a|url(alt=this.alt) }}">Translation</a>
  </footer>
</body>
